# List of files to ignore globally in the repository

# Temporary editor files
*.swp
*.swo

# Temporary Windows files
~$*

# General exclusions.
*.exe
*.log
*junk*

# Specific folders that should be ignored:
# - downloads are large and dynamic
# - datasets are large and dynamic
# - ignore except for README.md that explains folders

# Downloads:
# - most is dynamic except for README files
/downloads/datasets/*
!/downloads/datasets/README.md
/downloads/executable-zips/*
!/downloads/executable-zips/README.md
/downloads/executables/*
!/downloads/executables/README.md

# Dataset tests:
# - everything is dynamic except for README files
/test/datasets/*
!/test/datasets/README.md

# Example tests:
# - ignore dynamic files in results from examples
# - because StateMod output files may be saved as expected results,
#   only ignore in test results folder below
/test/examples/**/results/**

# Ignore temporary files from utility programs.
SmNewRsp.out
SmNewRsp.log

# Ignore all StateMod binary and report output files
# - these files are created by StateMod
# - might to be a bit more nuanced if any of these files are needed in tests stored in this repository
# - this list may need to be updated as more example tests are implemented
/test/examples/*/*.b*
/test/examples/*/*.chk
/test/examples/*/*.tmp
/test/examples/*/fort.*
# All .x files are assumed to be output files:
# - may need special handling for some files like .xbm, but can save in expected-results to commit
# - use a single asterisk so that it does not match subdirectories, which would ignore 'expected-results/'
/test/examples/*/*.x*

# Products of compiling software:
# - only needed if utility programs are compiled here, may be unlikely
*.o
*.obj
*.exe
*.lib
*.a
*.so
*.log
